<style type="text/css">
    body {
        font-size: 8pt;
        font-weight: bold;
    }
</style>
{% set offset = 0.0 %}
{% set increment = 0.0 %}
{% set missingvalue = ' ' %}


{% if has_sc_with_disease %}     
    {# 'with_disease' #}

    {% set increment = 6.2 %}

    {% for sc in sc_list %}
        <div>
            <div style="position: absolute;top:{{ 0.45 + offset }}cm;left: 14cm;white-space:nowrap;">
                    {{sc.allergic_to or missingvalue}}
            </div>
            <div style="position: absolute;top:{{ 0.9 + offset }}cm;left: 14.1cm;white-space:nowrap;">
                    {{sc.disease or missingvalue}}
            </div>
            <div style="position: absolute;top:{{ 1.3 + offset }}cm;left: 14.5cm;white-space:nowrap;">
                    {{sc.medication or missingvalue}}
            </div>
            <div style="position: absolute;top:{{ 2.1 + offset }}cm;left: 11.0cm;white-space:nowrap;">
                    {{sc.contact_name or ' '}}
            </div>
            <div style="position: absolute;top:{{ 2.5 + offset }}cm;left: 11.0cm;white-space:nowrap;">
                    {{sc.emergency_address1 or ' '}}
            </div>
            {% if sc.emergency_address2 %}
            <div style="position: absolute;top:{{ 2.9 + offset }}cm;left: 11.0cm;white-space:nowrap;">
                    {{sc.emergency_address2 or ' '}}
            </div>
            {% endif %}
            <div style="position: absolute;top:{{ 3.3 + offset }}cm;left: 12.8cm;white-space:nowrap;">
                    {% if sc.emergency_phone and sc.emergency_mobile %}
                        {{ sc.emergency_phone + ' / ' + sc.emergency_mobile }}
                    {% elif sc.emergency_phone %}
                        {{ sc.emergency_phone or ' ' }}
                    {% else %}
                        {{ sc.emergency_mobile or ' '}}
                    {% endif %}
            </div>
            <div style="position: absolute;top:{{ 2.7 + offset }}cm;left: {{ 4.5  }}cm;white-space:nowrap;">
                    {{sc.card_number}}
            </div>
            <div style="position: absolute;top:{{ 3.1 + offset }}cm;left: 4.0cm;white-space:nowrap;">
                    {{sc.first_name}} {{sc.surname or ' '}}
            </div>
            <div style="position: absolute;top:{{ 3.5 + offset }}cm;left: {{ 5.8  }}cm;white-space:nowrap;">
                {%- if sc.date_of_birth -%}
                    {{frappe.utils.formatdate(sc.date_of_birth)}} - {{sc.age}} yrs
                {%- else -%}
                    {%- if sc.year -%}
                        {{sc.year}} - {{sc.age}} yrs
                    {%- endif -%}
                {%- endif -%}
            </div>
            <div style="position: absolute;top:{{ 3.9 + offset }}cm;left: 4.0cm;white-space:nowrap;">
                    {{sc.address_line1}}
            </div>
            {% if sc.address_line2 %}
            <div style="position: absolute;top:{{ 4.3 + offset }}cm;left: 4.0cm;white-space:nowrap;">
                    {{sc.address_line2 or ' '}}
            </div>
            <div style="position: absolute;top:{{ 4.7 + offset }}cm;left: 4.0cm;white-space:nowrap;">
                    {{sc.city or ' '}} {{ sc.pin_code or ' ' }}
            </div>
            {% else %}
            <div style="position: absolute;top:{{ 4.3 + offset }}cm;left: 4.0cm;white-space:nowrap;">
                    {{sc.city or ' '}} {{ sc.pin_code or ' '}}
            </div>
            {% endif %}
            <div style="position: absolute;top:{{ 5.1 + offset }}cm;left: 4.3cm;white-space:nowrap;">
                    {% if sc.phone and sc.mobile %}
                        {{ sc.phone + ' / ' + sc.mobile }}
                    {% elif sc.phone %}
                        {{ sc.phone or ' ' }}
                    {% else %}
                        {{ sc.mobile or ' '}}
                    {% endif %}
            </div>
            <div style="position: absolute;top:{{ 5.4 + offset }}cm;left: 5.5cm;white-space:nowrap;">
                    {{sc.blood_group or ' '}}
            </div>
        </div>
        {% set offset = offset + increment %}
    {% endfor %}  

{% else %}
    {# 'without_disease' #}

    {% set increment = 6.15 %}

    {% for sc in sc_list %}
        <div>
            <div style="position: absolute;top:{{ 0.45 + offset }}cm;left: 14cm;white-space:nowrap;">
                    {{sc.allergic_to or missingvalue}}
            </div>
            <div style="position: absolute;top:{{ 0.9 + offset }}cm;left: 14.1cm;white-space:nowrap;">
                    {{sc.disease or missingvalue}}
            </div>
            <div style="position: absolute;top:{{ 1.3 + offset }}cm;left: 14.5cm;white-space:nowrap;">
                    {{sc.medication or missingvalue}}
            </div>
            <div style="position: absolute;top:{{ 2.1 + offset }}cm;left: 11.0cm;white-space:nowrap;">
                    {{sc.contact_name or ' '}}
            </div>
            <div style="position: absolute;top:{{ 2.5 + offset }}cm;left: 11.0cm;white-space:nowrap;">
                    {{sc.emergency_address1 or ' '}}
            </div>
            {% if sc.emergency_address2 %}
            <div style="position: absolute;top:{{ 2.9 + offset }}cm;left: 11.0cm;white-space:nowrap;">
                    {{sc.emergency_address2 or ' '}}
            </div>
            {% endif %}
            <div style="position: absolute;top:{{ 3.3 + offset }}cm;left: 12.8cm;white-space:nowrap;">
                    {% if sc.emergency_phone and sc.emergency_mobile %}
                        {{ sc.emergency_phone + ' / ' + sc.emergency_mobile }}
                    {% elif sc.emergency_phone %}
                        {{ sc.emergency_phone or ' ' }}
                    {% else %}
                        {{ sc.emergency_mobile or ' '}}
                    {% endif %}
            </div>
            <div style="position: absolute;top:{{ 2.7 + offset }}cm;left: {{ 4.5  }}cm;white-space:nowrap;">
                    {{sc.card_number}}
            </div>
            <div style="position: absolute;top:{{ 3.1 + offset }}cm;left: 4.0cm;white-space:nowrap;">
                    {{sc.first_name}} {{sc.surname or ' '}}
            </div>
            <div style="position: absolute;top:{{ 3.5 + offset }}cm;left: {{ 5.8  }}cm;white-space:nowrap;">
                {%- if sc.date_of_birth -%}
                    {{frappe.utils.formatdate(sc.date_of_birth)}} - {{sc.age}} yrs
                {%- else -%}
                    {%- if sc.year -%}
                        {{sc.year}} - {{sc.age}} yrs
                    {%- endif -%}
                {%- endif -%}
            </div>
            <div style="position: absolute;top:{{ 3.9 + offset }}cm;left: 4.0cm;white-space:nowrap;">
                    {{sc.address_line1}}
            </div>
            {% if sc.address_line2 %}
            <div style="position: absolute;top:{{ 4.3 + offset }}cm;left: 4.0cm;white-space:nowrap;">
                    {{sc.address_line2 or ' '}}
            </div>
            <div style="position: absolute;top:{{ 4.7 + offset }}cm;left: 4.0cm;white-space:nowrap;">
                    {{sc.city or ' '}} {{ sc.pin_code or ' ' }}
            </div>
            {% else %}
            <div style="position: absolute;top:{{ 4.3 + offset }}cm;left: 4.0cm;white-space:nowrap;">
                    {{sc.city or ' '}} {{ sc.pin_code or ' '}}
            </div>
            {% endif %}
            <div style="position: absolute;top:{{ 5.1 + offset }}cm;left: 4.3cm;white-space:nowrap;">
                    {% if sc.phone and sc.mobile %}
                        {{ sc.phone + ' / ' + sc.mobile }}
                    {% elif sc.phone %}
                        {{ sc.phone or ' ' }}
                    {% else %}
                        {{ sc.mobile or ' '}}
                    {% endif %}
            </div>
            <div style="position: absolute;top:{{ 5.4 + offset }}cm;left: 5.5cm;white-space:nowrap;">
                    {{sc.blood_group or ' '}}
            </div>
        </div>
        {% set offset = offset + increment %}
    {% endfor %} 

{% endif %}