<tr style="height: 6.25cm;">
	<td style="width: 50%">
		<table class="fullwidth scid-table">
			<tbody>
				<tr class="fullwidth">
					<td style="height: 75px; vertical-align: bottom">
					</td>					
					<td style="height: 75px; vertical-align: bottom">
					</td>
				</tr>
				<tr class="fullwidth" ><td style="text-align:right; padding-top: 10px;">{{ sc.card_number or '&nbsp;' }}</td><td></td>
				</tr>
				<tr>
					<td style="width: 40%;"></td>
					<td style="width: 60%;">
						{{sc.first_name or '' }}&nbsp;{{ sc.surname or '&nbsp;'}}
					</td>
				</tr>
				<tr  class="fullwidth">
					<td style="width: 40%;"></td>
					<td style="width: 60%;">
						{%- if sc.date_of_birth -%}
							{{frappe.utils.formatdate(sc.date_of_birth)}} - {{sc.age}} yrs
						{%- else -%}
							{%- if sc.year -%}
								{{sc.year }} - {{sc.age}} yrs
							{%- endif -%}
						{%- endif -%}
					</td>
					<tr >
						<td style="width: 40%;">
						</td>
						<td style="width: 60%; font-size: 7pt">
							{{sc.address_line1 or '&nbsp;'}}
							{% if sc.address_line2 %}
								<br>{{sc.address_line2 or '&nbsp;'}}
							{% endif %}
							<br>{{sc.city or '&nbsp;'}}&nbsp;{{sc.pin_code or '&nbsp;'}}
						</td>
					</tr>
				</tr>
				</tbody>
			</table>
			<table class="fullwidth scid-table">
				<tbody>
				<tr class="fullwidth">
					<td style="width: 40%;">
						
					</td>
					<td style="width: 60%;">
						{% if sc.phone and sc.mobile %}
							{{ sc.phone + ' / ' + sc.mobile }}
						{% elif sc.phone %}
							{{ sc.phone }}
						{% else %}
							{{ sc.mobile }}
						{% endif %}
					</td>
				</tr>
				<tr  class="fullwidth">
					<td style="width: 40%;">
						
					</td>
					<td style="width: 60%;">
						<div>{{sc.blood_group or '&nbsp;'}}</div>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
	<td style="width: 50%">
		<table class="fullwidth scid-table">
			<tbody>
				<tr>
					<th style="width: 60%"></th>
					<th style="width: 40%"></th>
				</tr>
				<tr>
					<td></td>
					<td>{{sc.allergic_to or '&nbsp;'}}</td>
				</tr>
				<tr>
					<td></td>
					<td>{{sc.disease or '&nbsp;'}}</td>
				</tr>
				<tr>
					<td></td>
					<td>{{sc.medication or '&nbsp;'}}</td>
				</tr>
			</tbody>
		</table>
		<table class="fullwidth scid-table">
			<tbody>
				<tr>
					<td colspan="2" style="padding-left: 20px; padding-top: 6px; height: 1.35cm; font-size: 7pt">
					{{sc.contact_name or '&nbsp;'}}<br>
					{% if sc.emergency_address1 %}
						{{sc.emergency_address1 or '&nbsp;'}}<br>
					{% endif %}
					{% if sc.emergency_address2 %}
						{{ sc.emergency_address2 or '&nbsp;'}}<br>
					{% endif %}
					{{sc.emergency_city or '&nbsp;'}}&nbsp;{{sc.emergency_pin_code or '&nbsp;'}}</td>
				</tr>
			</tbody>
		</table>		
		<table class="fullwidth scid-table">
			<tbody>
				<tr>
					<td style="padding-left: 80px">
						{% if sc.emergency_phone and sc.emergency_mobile %}
							{{ sc.emergency_phone + ' / ' + sc.emergency_mobile }}
						{% elif sc.emergency_phone %}
							{{ sc.emergency_phone }}
						{% else %}
							{{ sc.emergency_mobile }}
						{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>