<html>
	<head>
		<style type="text/css">
			.fullwidth {
				width: 100%;
			}
			.scid-table {
				font-size:8pt;
				/*border: solid 1px #ddd;*/
				margin: 0px; padding: 0px;
				line-height: 13px;
			}
			.scid-table td {
				vertical-align: top;
			}

			.scid-label {
				width: 40%;
			}
			.scid-values {
				width: 60%;	
			}
			.text-align-bottom {
				vertical-align: bottom;
			}
			table {
				margin-bottom: 0px;
			}
		</style>
	</head>
	<body>
		<table class="fullwidth scid-table">
			<tbody>
			{{ body_html }}
			</tbody>
		</table>
	</body>
</html>