<tr style="height: 6.25cm;">
	<td style="width: 50%">
		<table class="fullwidth scid-table" cellspacing="0" cellpadding="0">
			<tbody>
				<tr class="fullwidth">
					<td style="height: 75px; vertical-align: bottom">
					</td>					
					<td style="height: 75px; vertical-align: bottom">
					</td>
				</tr>
				<tr class="fullwidth text-align-bottom">
					<td style="padding-top: 15px; width: 20%"></td>
					<td style="width: 80%"> {{ sc.card_number or '&nbsp;' }}</td>
				</tr>
			</tbody>
		</table>
		<table class="fullwidth scid-table" cellspacing="0" cellpadding="0">
			<tbody>
				<tr class="fullwidth">
					<td style="width: 35%;"></td>
					<td style="width: 65%;">
						{{sc.first_name or '' }}&nbsp;{{ sc.surname or '&nbsp;'}}
					</td>
				</tr>
			</tbody>
		</table>
		<table class="fullwidth scid-table" cellspacing="0" cellpadding="0">
			<tbody>
				<tr class="fullwidth">
					<td style="width: 55%;"></td>
					<td style="width: 45%;">
						{%- if sc.date_of_birth -%}
							{{frappe.utils.formatdate(sc.date_of_birth)}} - {{sc.age}} yrs
						{%- else -%}
							{%- if sc.year -%}
								{{sc.year }} - {{sc.age}} yrs
							{%- endif -%}
						{%- endif -%}
					</td>
				</tr>
			</tbody>
		</table>
		<table class="fullwidth scid-table" cellspacing="0" cellpadding="0">
			<tbody>
				<tr class="fullwidth">
					<td style="width: 40%;">
					</td>
					<td style="width: 60%; font-size: 7.5pt">
						{{sc.address_line1 or '&nbsp;'}}
						{% if sc.address_line2 %}
							<br>{{sc.address_line2 or '&nbsp;'}}
						{% endif %}
					</td>
				</tr>
				
			</tbody>
		</table>
		<table class="fullwidth scid-table" cellspacing="0" cellpadding="0">
			<tbody>
				<tr class="fullwidth">
					<td style="width: 30%;"></td>
					<td style="width: 70%;">
						{% if sc.phone and sc.mobile %}
							{{ sc.phone + ' / ' + sc.mobile }}
						{% elif sc.phone %}
							{{ sc.phone }}
						{% else %}
							{{ sc.mobile }}
						{% endif %}
					</td>
				</tr>
				<tr class="fullwidth">
					<td style="width: 50%;">
					</td>
					<td style="width: 50%;">
						<div>{{sc.blood_group or '&nbsp;'}}</div>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
	<td style="width: 50%; line-height: 8px;">
		<table class="fullwidth scid-table" cellspacing="0" cellpadding="0">
			<tbody>
				<tr class="fullwidth">
					<td width="50%"></td>
					<td width="50%">{{sc.allergic_to or '&nbsp;'}}</td>
				</tr>
			</tbody>
		</table>
		<table class="fullwidth scid-table" cellspacing="0" cellpadding="0">
			<tbody>
				<tr  class="fullwidth">
					<td width="50%"></td>
					<td width="50%">{{sc.disease or '&nbsp;'}}</td>
				</tr>
			</tbody>
		</table>
		<table class="fullwidth scid-table" cellspacing="0" cellpadding="0">
			<tbody>
				<tr class="fullwidth">
					<td width="60%"></td>
					<td width="40%">{{sc.medication or '&nbsp;'}}</td>
				</tr>
			
		<table class="fullwidth scid-table" cellspacing="0" cellpadding="0">
			<tbody>
				<tr class="fullwidth">
					<td width="20%">
					<td width="80%" style="padding-left: 50px; padding-top: 10px; height: 1.35cm;">
					{{sc.contact_name or '&nbsp;'}}<br>
					{% if sc.emergency_address1 %}
						{{sc.emergency_address1 or '&nbsp;'}}<br>
					{% endif %}
					{% if sc.emergency_address2 %}
						{{ sc.emergency_address2 or '&nbsp;'}}
					{% endif %}
				</tr>
			</tbody>
		</table>		
		<table class="fullwidth scid-table" cellspacing="0" cellpadding="0">
			<tbody>
				<tr class="fullwidth">
					<td width="40%">
					<td width="70%">
						{% if sc.emergency_phone and sc.emergency_mobile %}
							{{ sc.emergency_phone + ' / ' + sc.emergency_mobile }}
						{% elif sc.emergency_phone %}
							{{ sc.emergency_phone }}
						{% else %}
							{{ sc.emergency_mobile }}
						{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>